.intro {
  background-image: url(assets/IMG/main-bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap");

/* ini pengaruh kemana? */
.pake-open-sans {
  font-family: "Open Sans", sans-serif;
}

.navbar-brand {
  margin-right: 142px;
  font-size: 24px;
  font-weight: bold;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  font-family: "open sans", sans-serif;
  letter-spacing: 0.2em;
  font-size: 14px;
}

.navbar {
  background: rgba(0, 0, 0, 0.5);
}

.navbar * {
  color: white !important;
}

.hero {
  margin-top: 200px;
}

.hero h1,
.hero p {
  color: white;
}

.hero h1 {
  font-family: arial;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
}

.button {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
}

.hero p {
}

.btn-warning {
  margin-top: 50px;
  border-radius: 4px;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  font-weight: bold;
  padding: 15px 55px;
}

.the-story h3 {
  color: white;
  text-align: center;
  font-size: 12px;
}

.the-story {
  position: relative;
  height: 100px;
  text-align: center;
  animation-name: down-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes down-animation {
  /* keadaan awal */
  0% {
    left: 0px;
    top: 0px;
  }
  /* keadaan tengah */
  50% {
    left: 0px;
    top: 100px;
  }
  /* keadaan semula */
  100% {
    left: 0px;
    top: 0px;
  }
}

@media (max-width: 991px) {
  .hero {
    margin-top: 100px;
  }
}

/* section2 */
.section2 {
  background-image: url(assets/IMG/the-games-bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}

/* section3 */
.section3 {
  background-image: url(assets/IMG/image\ sec-3.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  padding-top: 130px;
  background: radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 60.63%,
      #080a0b 99.74%
    ),
    url(assets/IMG/image\ sec-3.jpg);
}

/* .col-md-4 {
  font-family: Arial;
  left: 5.7%;
  right: 76.09%;
  top: 28.48%;
  bottom: 68.64%;
  line-height: 24px;
  letter-spacing: 2px;
} */

/* section4 */
.section4 {
  background-image: url(assets/IMG/requirements.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  top: 20px;
}

/* section5 */
.section5 {
  background-image: url(assets/IMG/section5.png);
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  padding-top: 130px;
}

.kotak1 {
  /* position: absolute; */
  left: 60.26%;
  right: 8.31%;
  top: 16.58%;
  bottom: 64.37%;
  /* background: yellow; */
  height: 182px;
  width: 452px;
  margin-top: 70px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}

.orange1 {
  position: inherit;
  width: 60px;
  height: 60px;
  left: 890.23px;
  top: 200px;
  background: #ffb548;
  margin-top: 10px;
  border-radius: 50%;
  margin-left: 12px;
  z-index: 1;
}

.kotak1 img {
  width: 50px;
  height: 50px;
  left: 879.92px;
  margin-top: 5px;
  border-radius: 50%;

  z-index: 2;
}

.nama1 h5 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  /* margin-top: 0px; */
  /* line-height: 12px; */
  letter-spacing: 2px;
  color: #ffb548;
}

.kotak1 h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

/* section6 */
.section6 {
  background-image: url(assets/IMG/section5.png);
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  padding-top: 130px;
}

/* .elipse {
  width: 55px;
  height: 55px;
  margin-left: 30x;
  margin-top: 16px;
  position: inherit;
  left: 20%;
  top: 100%;
  z-index: 1;
  border-radius: 50%;
} */
